<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Detail</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>View Vehicle</h2>
        <img src="/images/vehicles/<%= vehicle.picture %>" alt="<%= vehicle.name %>">
        <h3><%= vehicle.name %></h3>
        <div class="description"><%= vehicle.description %></div>
        <div class="year"><%= vehicle.year %></div>
        <div class="type"><%= vehicle.type %></div>
        <div class="price"><%= vehicle.price %></div>
    </div>
    
    <div class="footer">
        <p>Copyright &copy; CSE Motors 2023</p>
    </div>
</body>
</html>