<!-- vehicle.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Internal CSS file -->
<link rel="stylesheet" href="public/css/vehicle.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Vehicle Details</h1>
<div class="vehicle-details">
    <div class="make-model">
        <p>Make: <%= vehicleView.make %></p>
        <p>Model: <%= vehicleView.model %></p>
    </div>
    <div class="type-price">
        <p>Type: <%= vehicleView.type %></p>
        <p>Price: $<%= vehicleView.price %></p>
    </div>
    <div class="availability">
        <p>Availability: <%= vehicleView.availability %></p>
    </div>
    <div class="date-range">
        <p>Date Range:</p>
        <% for (let day of vehicleView.date_range) { %>
        <p><%= day.toLocaleDateString() %></p>
        <% } %>
    </div>
    <div class="odometer">
        <p>Odometer: <%= vehicleView.odometer %></p>
    </div>
    <div class="address">
        <p>Address: <%= vehicleView.address %></p>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>